shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
registry=https://registry.npmmirror.com
# 19以下版本
PUPPETEER_DOWNLOAD_HOST = https://cdn.npmmirror.com/binaries

# 20以上的版本
PUPPETEER_DOWNLOAD_BASE_URL = https://cdn.npmmirror.com/binaries/chrome-for-testing
